POSTGRES_URL="postgres://postgres.monwhvekhyduvezoocsy:wYyieNJzgsLJPBDb@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.monwhvekhyduvezoocsy.supabase.co"
SUPABASE_JWT_SECRET="TqKXPVunk5AoJgZZzdzRTTsEt0jqnQVv27l+SHkLoFMWC1YIvr86AJAwmzMZivHMdA57hh9/nYFoZMCqUGYR5Q=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbndodmVraHlkdXZlem9vY3N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0Mzc5NzgsImV4cCI6MjA3MTAxMzk3OH0.WwGTPwgfFObpB25z1skiZuGXGVHT9PImZ9gOkcEA8Pc"
POSTGRES_PRISMA_URL="postgres://postgres.monwhvekhyduvezoocsy:wYyieNJzgsLJPBDb@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_PASSWORD="wYyieNJzgsLJPBDb"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://monwhvekhyduvezoocsy.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbndodmVraHlkdXZlem9vY3N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0Mzc5NzgsImV4cCI6MjA3MTAxMzk3OH0.WwGTPwgfFObpB25z1skiZuGXGVHT9PImZ9gOkcEA8Pc"
NEXT_PUBLIC_SUPABASE_URL="https://monwhvekhyduvezoocsy.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vbndodmVraHlkdXZlem9vY3N5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTQzNzk3OCwiZXhwIjoyMDcxMDEzOTc4fQ.oxDN7Gp20FRqkfMPk2yKv1D3PLPeeMPp1vApB1hUYvE"
POSTGRES_URL_NON_POOLING="postgres://postgres.monwhvekhyduvezoocsy:wYyieNJzgsLJPBDb@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"